body {
	background: url("http://seguimiento.gasco.cl/IMAGENES/degrade_azul_scroll.jpg") fixed;
	background-size: 100% 100%;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}
#all {
	width: 90%;
	height: 100%;
	margin: auto;
	background: white;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}
#header {
	position: relative;
	width: 100%;
	height: 150px;
	background: darkblue;
}
.rotacao {
	float: left;
	margin: auto;
	margin-left: 90%;
}
.rotacao b {
	font-size: 32px;
	color: red;
}
#menu {
	width: 90%;
	height: 150px;
	position: fixed;
	color: white;
	z-index: 9999;
}
#menufundo {
	z-index: 9999;
	width: 89.25%;
	height: 110px;
	background: darkblue;
	opacity: 0.9;
	position: fixed;
	color: white;
}
#menutxt {
	color: gray;
	z-index: 9999;
	font-size: 22px;
	float: right;
	margin-top: 50px;
	margin-right: 4.5%;
	float: right;
}
#tablebusca {
	border: 2px;
	width: 100%;
	height: 50px;
	margin: auto;
	font-size: 22px;
	color: white;
	float: right;
	margin-top: 10%;
	position: relative;
}
#selectcidades {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	height: 30px;
	font-size: 16px;
}
#busca {
	width: 400px;
	height: 30px;
	background: white;
	float: right;
	margin-right: 15%;
	border-radius: 10px;
	color: black;
	text-align: right;
	font-size: 22px;
}
#mainframe {
	width: 100%;
	height: 100%;
}
#menuesquerda {
	width: 200px;
	font-size: 18px;
	float: left;
	box-shadow: 5px 5px 5px black;
	background-color: Lavender;
}
hr {
	width: 160px;
}
#corpo {
	width: 960px;
	height: 100%;
	text-align: center;
	border: 1px;
}
#produto{
	 float: left; 
	 margin-left: 2%; 
	 margin-top: 2%; 
	 border:outset;
	 text-align:center;	
}
.wrapper{
	margin-top: 30%;
	margin-left: 15%; 
	display: table;
		
}
#tablecorpo {
	border: 1px solid black;
	border-collapse: collapse;
}
#rodape {
	width: 100%;
	height: 190px;
	background: navy;
}
#blockrod {
	width: 200px;
	height: 150px;
	color: white;
	float: left;
	margin-top: 2%;
	margin-left: 11%;
	font-size: 14px;
}
#footer {
	width: 100%;
	height: 40px;
	text-align: center;
	color: white;
	margin-top: 5%;
}
a:link {
	color: black;
}
a:visited {
	color: black;
}
a:hover {
	color: gray;
}
a:active {
	color: darkred;
}
#banner {
	width: 550px;
	height: 300px;
}
#caixa {
	float: left;
	margin: auto;
	position: relative;
	margin-left: 5%;
}
#divlogin {
	margin-left: 50%;
	width: 400px;
	height: 250px;
 background:;
	margin-top: 10%;
	font-size: 24px;
}
#tablelogin {
	margin-top: 10%;
	background: green;
	position: relative;
}
#image {
	float: left;
	margin-left: 10%;
}
#up{
	margin: 10%;	
}
#formulario{
	margim: 10%;
	display:block;
	font-size:24px;
}
